<div class="card">	
	<div class="card-header">Power consumption <%= @chart_header %> (Time / Wh)</div>
	<div class="card-body">
		<div class='row'>
			<div class='col'>
				<%= line_chart @chart_data, library: {curveType: "none", pointSize: 0, theme: "maximized", 
									  				plotOptions: {spline: {marker: {enabled: false}}},
									  				 legend: {align: 'right',
														      verticalAlign: 'top',
														      x: -10,
														      y: 0,
														      floating: true}} %>
			</div>
		</div>
		<br>
		<form>
			<div class='form-group'>
				<div class="radio">
			  		<label>
			    		<input type="radio" name="period" id="optionsPeriod1" value="l24h" <%= params[:period]=="l24h" ? "checked" : "" %> >
			    		last 24 hours
			  		</label>
				</div>
				<div class="radio">
					  <label>
					    <input type="radio" name="period" id="optionsPeriod2" value="given" <%= params[:period]=="given" ? "checked" : "" %> >
					    a given period
					  </label>
				</div>
				<div class='row'>
				    <div class='col-sm-6'>
				        <div class="form-group">
				        	<label for="startTimeID" class="control-label">From:</label>
				            <div class="input-group date" id="startTimeID" data-target-input="nearest">
				                <input type="text" class="form-control datetimepicker-input" data-target="#startTimeID" data-toggle="datetimepicker" name="startTime" value='<%= params[:startTime] %>' />
				                <div class="input-group-append" data-target="#startTimeID" data-toggle="datetimepicker">
				                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
				                </div>
				            </div>
				        </div>
				    </div>
				    <div class='col-sm-6'>
				        <div class="form-group">
				        	<label for="endTimeID" class="control-label">To:</label>
				            <div class="input-group date" id="endTimeID" data-target-input="nearest">
				                <input type="text" class="form-control datetimepicker-input" data-target="#endTimeID" data-toggle="datetimepicker" name="endTime" value='<%= params[:endTime] %>' />
				                <div class="input-group-append" data-target="#endTimeID" data-toggle="datetimepicker">
				                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary btn-lg btn-block">Refresh chart</button>
		</form>
	</div>
</div>