<%= form_for [@consumer, @meter] do |f| %>
	<div class="form-row">
		<div class="col-md-5 mb-4">
			<%= f.label :name, "Name" %>
			<%= f.text_field :name, class: "form-control" %>
			<div class="invalid-feedback">Name can`t be blank</div>
		</div>
		<div class="col-md-2 mb-4">
			<%= f.label :k_trans, "Coef. of transform." %>
			<%= f.number_field :k_trans, class: "form-control" %>
			<div class="invalid-feedback">Must be greater than 0</div>
		</div>
		<div class="col-md-2 mb-4">
			<%= f.label :alarm_value, "Alarm value" %>
			<%= f.number_field :alarm_value, class: "form-control" %>
		</div>
		<div class="col-md-2 mb-4">
			<%= f.label :alarm_on, "Alarm on" %>
			<%= f.check_box :alarm_on, class: "form-control" %>
		</div>
	</div>
	<%= f.submit class: "btn btn-primary" %>
<% end %>