<h3><%= @meter.consumer.name %> - <%= @meter.name %></h3>
<% @energies.each do |energy| %>
	<p>
		<%= energy.time %> - 
		<%= energy.period %>w
	</p>
<% end %>
<%= link_to '<<< back', @meter.consumer %>