<h3><%= @consumer.name %></h3>
<p>Phone: <%= @consumer.phone %></p>

<%= link_to '<<< to index', consumers_path %> |
<%= link_to 'edit', edit_consumer_path(@consumer) %> |
<%= link_to 'delete', @consumer, method: :delete, data: { confirm: 'Are you sure?' } %>

<h3>Meters:</h3>
<% unless @meters.empty? %>
	<% @meters.each do |meter| %>
		<p>Name: <%= meter.name %></p>
		<p>Topic (UUID): <%= link_to meter.topic, "/open/#{meter.topic}" %></p>
		<p>Coefficient of transformation: <%= meter.k_trans %></p>
		<p>Alarm value: <%= meter.alarm_value %></p>
		<p>Alarm On: <%= meter.alarm_on ? 'YES'  : 'NO' %></p>
		<%= link_to 'show', [@consumer, meter] %>
		<%= link_to 'delete', [@consumer, meter], method: :delete, data: { confirm: 'Are you sure?' } %>
		<hr>
	<% end %>
<% else %>
	<p>No meters!</p>
<% end %>
<h4>Add meter</h4>

<%= form_for [@consumer, @meter] do |f| %>
	<%= f.label :name, "Name" %>
	<%= f.text_field :name %>
	<%= f.label :k_trans, "Coef. of transform." %>
	<%= f.number_field :k_trans %>
	<%= f.label :alarm_value, "Alarm value" %>
	<%= f.number_field :alarm_value %>
	<%= f.label :alarm_on, "Alarm on" %>
	<%= f.check_box :alarm_on %>

	<%= f.submit %>
<% end %>